body {
  background-color: #cbf3f0;
}

h1 {
  color: #00b4d8;
}

h3 {
  color: #023e8a;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #354259;
  border-width: 0.3rem;
  width: 5%;
}

img {
  border-radius: 50%;
  max-width: 10%;
  max-height: 20%;
}
